a:-webkit-any-link {
  text-decoration: inherit;
}

.fp-overflow {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fp-overflow::-webkit-scrollbar {
  display: none;
}
.fp-table {
  padding-top: 5%;
  justify-content: flex-start !important;
}
