a:-webkit-any-link {
  text-decoration: inherit;
}

.fp-overflow {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fp-overflow::-webkit-scrollbar {
  display: none;
}
